html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

canvas {
  display: block;
}

.gameboard {
  position: absolute;
  z-index: 100;
  color: #fff;
  font-size: 12px;
  top: 10px;
  left: 10px;
}